include partials/header.jade
.container
    h1 ITÜK stiiliraamat
    p.text-muted versioon 0.1, viimane uuendus 23.03.2017
    p
        | #[strong ITÜK] on Tallinna Tehnikaülikooli infotehnoloogia teaduskonna üliõpilaskogu. Seetõttu järgime väga
        |  suures osas
        |  #[a(href="https://www.ttu.ee/public/u/ulikool/TTU_stiiliraamat_2017/index.html") TTÜ stiiliraamatut].
    h1.text-muted Stiiliraamat on valmimas!